*{
    padding:0px;
    margin:0px;
}
.container{
padding:10%;
}

.header{
    height:75px;
    width:110%;
    background-color: lightblue;
    display:flex;
    justify-content:space-between;
    align-items: center;
    color:white;
    padding:5px; 
}
.header p{
    font-size:30px;
    font-family: cursive;
}

.header li{
    font-size: 20px;
    display:flex;
    display: inline-block;
    justify-content:space-between;
    font-family:cursive;
    cursor: pointer;
}
.main{

    display:flex;
    justify-content:space-around;
    padding:1%;
    align-items: center;
    justify-content: space-between;
    font-family: cursive; 
}
.main h1{
    font-size: 30px;
}
.body{
    height:500px;
    width:100%;
    display:flex;
    padding:20px;
    margin:50px;
    border-top:  solid black;
    align-items: center;
    justify-content: space-between;    
}
.section1{
    width:100px;
    height: 300px;
    background-color:lightgray;
    padding:5%;
    text-align: center;   
}
img{
    height:120px;
    width:120px;
    border-radius: 50%;  
}
.section2{
    width:100px;
    height:300px;
    background-color:lightgray;
    padding:5%;
    text-align: center;
}
.section3{
    width:100px;
    height:300px;
    background-color:lightgray;
    padding:5%;
    text-align: center;
}
.section4{
    width:100px;
    height:300px;
    background-color:lightgray;
    padding:5%;
    text-align: center;
}
.temperature{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
#highest{
    color:red;
}
#lowest{
    color:blue;

}
.footer{
    height:95px;
    width:100%;
    border:1px solid black;
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content: space-between;
    margin-left:70px;  
}
.footer img{
    width:80px;
    height:80px;
}
.button{
        background-color:lightblue;
        box-shadow: 3px 3px 3px black;
        
}